.box {
  overflow: auto;
  height: auto;
  margin-bottom: $inuit-box-padding;
  border: 1px solid rgb(149, 155, 160);
  @include media-query(lap-and-up) {
    height: calculateRem(460px);
  }
  h2 {
    text-transform: uppercase;
  }
}

@include media-query(desk) {  
  .box--med {
    height: calculateRem(400px);
  }
  
  .box--lg {
    height: calculateRem(600px);
  }
}

@include media-query(desk-wide) {
  .box--sm {
    height: calculateRem(240px);
  }
}

.box--reverse-out {
  background: rgb(234, 237, 239);
  li {
    color: $gray;
    b {
      font-weight: normal;
      color: $true-black;
    }
  }
}