$imported-once-files            : ();

// Settings
@import "../px-colors-design/settings.colors";

// Generic
@import "../px-normalize-design/generic.normalize";
@import "../px-box-sizing-design/generic.box-sizing";

// Base
@import "../px-viewport-design/base.viewport";
@import "../px-typography-design/base.typography";

$inuit-enable-code--inline      : true;

@import "../px-code-design/base.code";

// Box
$inuit-enable-box--flush        : true;
$inuit-enable-box--tiny         : true;
$inuit-enable-box--small        : true;
$inuit-enable-box--large        : true;
$inuit-enable-box--huge         : true;

@import "../objects.box";

.box {
  text-align: justify;
  border: 1px solid $gray4;
}

// Trumps
$inuit-enable-margins--none     : true;
$inuit-enable-margins--large    : true;
$inuit-enable-margins--huge     : true;

@import "../px-spacing-responsive-design/trumps.spacing-responsive";